<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1 class="text-center mt-3">Hotel Post</h1>
      <p>
        El Hotel post (Todo Incluido 24h)Está ubicado en el ingreso a Taormina,
        frente a la Isola Bella y unos 300 metros del funicular que te lleva al
        centrito de la ciudad , entre unos jardines de más de 28.000 metros
        cuadrados. Su exclusivo servicio Todo Incluido 24h y sus completas
        instalaciones, ofrecen multitud de actividades, deportes y
        entretenimiento a todos sus clientes para que tengan unas amenas
        vacaciones junto a su familia, amigos o pareja. Su restaurante principal
        dispone de una gran terraza y es perfecto para saborear la deliciosa
        gastronomía. Además El Hotel post dispone también de
        restaurantes temáticos de cocina internacional. Aprovecha sus piscinas y
        gimnasio para no perder el ritmo durante tus vacaciones. Durante el día,
        podrás participar en las diferentes actividades propuestas por el equipo
        de animación, sea bailando, cantando o haciendo aquagym, voleibol y
        otros deportes. Además, los más pequeños podrán disfrutar del alegre
        mundo Riuland. Por la noche, no te puedes perder los espectáculos, la
        música en vivo y la posibilidad de venir a bailar al mejor ritmo en la
        discoteca o si lo prefieres, tómate un delicioso cóctel a la luz de la
        luna. Disfruta de las ofertas del post y ven a pasar unas vacaciones
        increíbles
      </p>
    </div>
    <div class="col-12 col-md-4 my-5">
      <div class="row">
        <div class="col-6">
          <img
            src="../../../assets/img/img1.jpg "
            alt=""
            class="img-fluid shadow animate__animated animate__zoomInRight wow animate__slow"
          />
        </div>
        <div class="col-6">
          <img
            src="../../../assets/img/img2.jpg "
            alt=""
            class="img-fluid shadow animate__animated animate__zoomInRight wow animate__slow"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <img
            src="../../../assets/img/img3.jpg "
            alt=""
            class="img-fluid shadow animate__animated animate__zoomInRight wow animate__slow"
          />
        </div>
        <div class="col-6">
          <img
            src="../../../assets/img/img5.jpg "
            alt=""
            class="img-fluid shadow animate__animated animate__zoomInRight wow animate__slow"
          />
        </div>
      </div>
    </div>
  </div>
</div>
